# Java backend
backend/HELP.md
backend/.gradle
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/

# Solid frontend
frontend/dist
frontend/.solid
frontend/.output
frontend/.vercel
frontend/.netlify
frontend/netlify

# Environment
.env
.env*.local

# dependencies
frontend/node_modules

# IDEs and editors
/.idea
frontend/.project
frontend/.classpath
frontend/*.launch
frontend/.settings/

# System Files
**/.DS_Store

*.json
*.db
